[submodule "openxr_sdk"]
	path = openxr_sdk
	url = https://github.com/KhronosGroup/OpenXR-SDK.git
[submodule "HandOfLesserDriver/openvr"]
	path = HandOfLesserDriver/openvr
	url = https://github.com/ValveSoftware/openvr.git
